@page "/"
@using EtAlii.Ubigia.Infrastructure.Functional

@namespace EtAlii.Ubigia.Infrastructure.Transport.Admin.Portal

@inject IInfrastructure _infrastructure;

<Row Flex="Flex.Row.AlignContent.Center" >
    <Column ColumnSize="DefaultLayout.ItemDashboardColumnWidth">
        <Card Margin="DefaultLayout.Margin">
            <CardBody>
                <CardTitle Size="5">
                    <Icon Name="@("bi bi-people")"/>
                    Users
                </CardTitle>
                <CardText>
                    <Table Striped="true" Hoverable="true" Borderless="true">
                        <TableHeader>
                            <TableRow>
                                <TableHeaderCell>#</TableHeaderCell>
                                <TableHeaderCell>Name</TableHeaderCell>
                                <TableHeaderCell>Spaces</TableHeaderCell>
                            </TableRow>
                        </TableHeader>
                        <TableBody>
                            @foreach(var account in _accounts)
                            {
                                <TableRow>
                                    <TableRowHeader>@account.Index</TableRowHeader>
                                    <TableRowCell>@account.Name</TableRowCell>
                                    <TableRowCell><Badge Color="Color.Primary" Pill> @account.Spaces</Badge></TableRowCell>
                                </TableRow>
                            }
                        </TableBody>
                    </Table>
                </CardText>
                <Button Color="Color.Primary" Size="Size.Small">Manage</Button>
            </CardBody>
        </Card>
    </Column>

    <Column ColumnSize="DefaultLayout.ItemDashboardColumnWidth">
        <Card Margin="DefaultLayout.Margin">
            <CardBody>
                <CardTitle Size="5">
                    <Icon Name="@("bi bi-hdd-rack")"/>
                    Storage
                </CardTitle>
                <CardText>
                    <Table Striped="true" Hoverable="true" Borderless="true">
                        <TableHeader>
                            <TableRow>
                                <TableHeaderCell>#</TableHeaderCell>
                                <TableHeaderCell>Name</TableHeaderCell>
                                <TableHeaderCell>Activity</TableHeaderCell>
                            </TableRow>
                        </TableHeader>
                        <TableBody>
                            @foreach (var storage in _storages)
                            {
                                <TableRow>
                                    <TableRowHeader>@storage.Index</TableRowHeader>
                                    <TableRowCell>@storage.Name</TableRowCell>
                                    <TableRowCell><Badge Color="Color.Primary" Pill>324 Kt/pm</Badge></TableRowCell>
                                </TableRow>
                            }
                        </TableBody>
                    </Table>
                </CardText>
                <Button Color="Color.Primary" Size="Size.Small" Position="Position.Sticky.End">Manage</Button>
            </CardBody>
        </Card>
    </Column>

    <Column ColumnSize="DefaultLayout.ItemDashboardColumnWidth">
        <Card Margin="DefaultLayout.Margin">
            <CardBody>
                <CardTitle Size="5">
                    <Icon Name="@("bi bi-hdd-network")"/>
                    Network
                </CardTitle>
                <CardText>
                    <Table Striped="true" Hoverable="true" Borderless="true">
                        <TableHeader>
                            <TableRow>
                                <TableHeaderCell>#</TableHeaderCell>
                                <TableHeaderCell>Name</TableHeaderCell>
                                <TableHeaderCell>Activity</TableHeaderCell>
                            </TableRow>
                        </TableHeader>
                        <TableBody>
                            <TableRow>
                                <TableRowHeader>1</TableRowHeader>
                                <TableRowCell>Tony Stark</TableRowCell>
                                <TableRowCell><Badge Color="Color.Primary" Pill>127 Kt/pm</Badge></TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableRowHeader>2</TableRowHeader>
                                <TableRowCell>Bruce Banner</TableRowCell>
                                <TableRowCell><Badge Color="Color.Primary" Pill>23 t/pm</Badge></TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableRowHeader>3</TableRowHeader>
                                <TableRowCell>Peter Parker</TableRowCell>
                                <TableRowCell><Badge Color="Color.Primary" Pill>324 Kt/pm</Badge></TableRowCell>
                            </TableRow>
                        </TableBody>
                    </Table>
                </CardText>
                <Button Color="Color.Primary" Size="Size.Small" Position="Position.Sticky.End">Manage</Button>
            </CardBody>
        </Card>
    </Column>

    <Column ColumnSize="DefaultLayout.ItemDashboardColumnWidth">
        <Card Margin="DefaultLayout.Margin">
            <CardBody>
                <CardTitle Size="5">
                    <Icon Name="@("bi bi-speedometer")"/>
                    Performance
                </CardTitle>
                <CardText>
                    <Table Striped="true" Hoverable="true" Borderless="true">
                        <TableHeader>
                            <TableRow>
                                <TableHeaderCell>#</TableHeaderCell>
                                <TableHeaderCell>Name</TableHeaderCell>
                                <TableHeaderCell>Activity</TableHeaderCell>
                            </TableRow>
                        </TableHeader>
                        <TableBody>
                            <TableRow>
                                <TableRowHeader>1</TableRowHeader>
                                <TableRowCell>Tony Stark</TableRowCell>
                                <TableRowCell><Badge Color="Color.Primary" Pill>127 Kt/pm</Badge></TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableRowHeader>2</TableRowHeader>
                                <TableRowCell>Bruce Banner</TableRowCell>
                                <TableRowCell><Badge Color="Color.Primary" Pill>23 t/pm</Badge></TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableRowHeader>3</TableRowHeader>
                                <TableRowCell>Peter Parker</TableRowCell>
                                <TableRowCell><Badge Color="Color.Primary" Pill>324 Kt/pm</Badge></TableRowCell>
                            </TableRow>
                        </TableBody>
                    </Table>
                </CardText>
                <Button Color="Color.Primary" Size="Size.Small" Position="Position.Sticky.End">Manage</Button>
            </CardBody>
        </Card>
    </Column>
</Row>
